{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block header %}
<a class="btn" href="/">
    <img src="pictures/buttons/back.png" style="width: 35px;height: 35px;">
</a>
{% endblock %}
{% block content %}
<style>
	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
		float: left;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	#tooltip {   
		position: absolute;           
		text-align: center;
		padding: 20px;             
		margin: 10px;
		font: 12px sans-serif;        
		background: lightsteelblue;   
		border: 1px;      
		border-radius: 2px;           
		pointer-events: none;         
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr td{
		padding:0;
		margin:0;
	}
	#tooltip tr td:nth-child(1){
		width:50px;
	}
	#tooltip tr td:nth-child(2){
		text-align:center;
	}
        .mapbg{
		background: white;
		border-radius: 10px;
		height: fit-content;
		margin: 10px 0px 10px 0px;
		align:  center;
		padding:5px;
		width: 142px;
	}
	.mapbg p {
		font-size: 14px;
		margin-bottom: 4px;
	}
	.top-state-list{
		text-align: center;
		margin: 4px;
	}
	.top-state{
		margin: 4px;
	}
	.top-state h4 {
		text-align: center;
		margin-bottom: 3px;
	}
	.top-state hr {
		padding: 0px;
		margin-top: 5px;
	}
	.top-state br {
		line-height: 0.5;
	}
</style>
<body style="background: #f5f5f5;">
<div id="tooltip"></div><!-- div to hold tooltip. -->
<div class="container">
	<div class="row">
		<div class="col-lg-10" style="padding: 5px;">
			<div>
				<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
			</div>
		</div>
		<div class="col-lg-2" style="padding: 5px;">
			<div class="mapbg">
				<div class="top-state-list">
					<h4>Top 5 States</h4>		
					<hr>
					<ol>
						<li><p>first</p></li>
						<li><p>second</p></li>
						<li><p>third</p></li>
					</ol>
				</div>
			</div>
			<div class="mapbg">
				<div class="top-state">
					<h4>first</h4>
					<hr>
					Crime: <p>thing1</p><br />
					Climate: <p>thing2</p><br />
					Health: <p>thing3</p><br />
					Education: <p>thing4</p><br />
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="map.js"></script> <!-- creates map. -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

	function tooltipHtml(n, d){	/* function to create html content string in tooltip div. */
		return "<h4>"+n+"</h4><table>"+
			"<tr><td>Crime: </td><td>"+(d.crime)+"</td></tr>"+
			"<tr><td>Climate: </td><td>"+(d.climate)+"</td></tr>"+
			"<tr><td>Health: </td><td>"+(d.health)+"</td></tr>"+
			"<tr><td>Education: </td><td>"+(d.education)+"</td></tr>"+
			"</table>";
	}

        var colors = ["#E63B2E", "#F85A3E", "#FF7733", "#FFFF82", "#FCE762", "#A8D4AD", "#606C38"];
	
	var sampleData ={};	/* Sample random data. */	
	["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
	"ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
	"MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
	"CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
	"WI", "MO", "AR", "OK", "KS", "LS", "VA"]
		.forEach(function(d){ 
			var crime=Math.round(100*Math.random()), 
			    climate=Math.round(100*Math.random()), 
			    health=Math.round(100*Math.random()),
			    education=Math.round(100*Math.random());
			sampleData[d]={
					crime:crime,
					health:health,
					climate:climate,
					education:education, 
					avg:Math.round((crime+climate+health)/3),
					color:d3.interpolate("#ffffcc", "#4DA167")(crime/100)
			};
		});
	
	/* draw states on id #statesvg */	
	map.draw("#statesvg", sampleData, tooltipHtml);
	
	d3.select(self.frameElement).style("height", "600px"); 
</script>
</body>
{% endblock %}
