body {
    background-image: url('../pictures/background/tropical_picture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;

}
.tropical-blue {
    background-color: #A8C8EE;
}
.sand {
    background-image: url('../pictures/background/sand.png');
    background-size: 400px;
}