{% extends "base.html" %}
{% block title %}Our Data{% endblock %}
{% block header %}
<img src="pictures/logo/tree-logo.png" class="rounded-circle" alt="Tropical Bliss Logo" style="width: 5%;height: 5%;">
<a href="/">&lt; Back</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="container text-center">
            <h1 style="font-size: 200px"> OOPS! </h1>
            <p style="font-size: 45px">Error 404</p>
            <h2 style="font-size: 60px">It looks like the page you are looking for doesn't exist!</h2>
            <h2 style="font-size: 60px"><a href="/">Return to home</a></h2>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}