{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block header %}
<div class="container-fluid p-5"></div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <img src="pictures/logo/full-logo.png" class="rounded-circle img-fluid mx-auto d-block" alt="Tropical Bliss Logo" style="width: 40%;height: 40%;">
        <p class="text-center p-4">What's that.</p>
    </div>

    <div class="container">
        <div class="text-center">
            <p>
            <strong>How important is teacher to student ratio to you?</strong>
            </p>
            <button class="button button1">Green</button>
        </div>
        <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            <div>
                
            <div>
            <div class="btn-group-lg" role="group" aria-label="First group">
                
                <button type="button" class="btn btn-light m-2">1</button>
                <button type="button" class="btn btn-light m-2">2</button>
                <button type="button" class="btn btn-light m-2">3</button>
                <button type="button" class="btn btn-light m-2">4</button>
                <button type="button" class="btn btn-light m-2">5</button>
            </div>
        </div>
        
    </div>

    <div class="container text-center">
    <button type="button" class="btn btn-primary">Submit</button>
    </div>
</div>
{% endblock %}